/* .accordion {
    border: 1px solid rgb(195, 192, 192);
    box-shadow: none !important;
    outline: none !important;
} */


/* .collapsed {
    background-color: #f7f7f7 !important;
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
    animation: none !important;
} */